$primary: #FFFF;
body
{
  background-color: $primary;
  overflow-x: hidden;
}
.auctionimage
{
  width: 500px;
  height: 500px;
}
.auctionimagetable
{
  width: 100px;
  height: 100px;
}
.auctiontext
{
  width: 100%;
  bottom: 5%;
  position: absolute;
}
.auction
{
  position: relative;
  text-align: center;
  color: white;
  width: 500px;
}
.imagecol
{
  margin-left: 375px;
}
.comments
{
  display: block;
  margin-left: 325px;
}
#popular
{
  width: 100%;
  text-align: center;
}
.undernav
{
  padding-left: 282.5px;
  background-color: lightgray;
  width: 100%;
}
.logo{
  position: relative;
  z-index: 5;
  width: 90%;
  height: auto;
}
.glyphicon {
  font-size: 5em;
}
.top
{
  width: 100% !important;
}
.bottom
{
  width: 50% !important;
  height: auto !important;
}
.bottom > .carousel-inner
{
 height: auto !important;
}
.create
{
  margin-bottom: 10px;
  margin-right: 10px;
}
.none
{
  width: 100%;
  text-align: center;
}
.center
{
  width: 100%;
  text-align: center;
}
.topfield
{
  margin-top: 20px;
}
.errors
{
  color: red;
  background-color: #F2DEDE;
  list-style-type: none;
}