body
{
  overflow-x: hidden;
}
.auctionimage
{
  width: 200px;
}
.auction
{
  text-align: center;
  border: 1px solid black;
  padding-bottom: 5px;
}
.imagecol
{
  margin-left: 375px;
}
.comments
{
  display: block;
  margin-left: 325px;
}
#welcome
{
  width: 100%;
  text-align: center;
}
.undernav
{
  padding-left: 282.5px;
  background-color: lightgray;
  width: 100%;
}
.logo{
  position: relative;
  z-index: 5;
  width: 90%;
  height: auto;
}
.glyphicon {
  font-size: 5em;
}